<h2>Template: <small>Switches</small></h2>

<hr>

<form
    #miFormulario = "ngForm"
>
<!-- Género -->
    <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Género</label>
        <div class="col-sm-9">


            <div class="form-check">
                <input
                    type="radio"
                    class="form-check-input"
                    value="F"
                    [(ngModel)]="persona.genero"
                    name="radioGenero"
                    id="radioFemenino"
                    required
                >
                <label for="radioFemenino" class="form-check-label">
                    Femenino
                </label>
            </div>

            <div class="form-check">
                <input
                    type="radio"
                    class="form-check-input"
                    value="M"
                    [(ngModel)]="persona.genero"
                    name="radioGenero"
                    id="radioMasculino"
                    required
                >
                <label for="radioMasculino" class="form-check-label">
                    Masculino
                </label>
            </div>

            <div class="form-check">
                <input
                    type="radio"
                    class="form-check-input"
                    value="NA"
                    [(ngModel)]="persona.genero"
                    name="radioGenero"
                    id="noDecirlo"
                    required
                >
                <label for="noDecirlo" class="form-check-label">
                    Prefiero no decirlo
                </label>
            </div>

        </div>
    </div>

    <!-- Switch -->

    <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="switchNotificaciones"
                    [(ngModel)]="persona.notificaciones"
                    name="notificaciones"
                >
                <label class="form-check-label" for="switchNotificaciones">Deseo recibir notificaciones</label>
              </div>
        </div>
    </div>

    <!-- Terminos y condiciones -->

    <div class="row mb-3">
        <label for="" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="checkbox"
                    name="terminosCondiciones"
                    [(ngModel)]="terminosCondiciones"
                    id="checkTerminosCondiciones"
                    required
                >
                <label class="form-check-label" for="checkTerminosCondiciones">
                  Acepto los términos y condiciones
                </label>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button
                class="btn btn-primary float-end"
                [disabled]="miFormulario.invalid"
                >
                Guardar
            </button>
        </div>
    </div>


</form>


<h5>Valor del formulario:</h5>
<pre> {{ miFormulario.value | json }} </pre>

<h5>Persona:</h5>
<pre> {{ persona | json }} </pre>

<h5>Valid</h5>
<pre> {{ miFormulario.valid }} </pre>

<h5>Términos</h5>
<pre> {{ miFormulario.controls['terminosCondiciones']?.errors | json }} </pre>

<h5>Condiciones: {{ 'algo' }} </h5>